node_modules/
package-lock.json
gen

.project
.classpath
.settings/
.cds_gen.log

.mta/
*.mtar

.DS_Store
*.db
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json